body {
  color:white;
}
  
#presentation {
  background: url('../sources/cover.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
}

#benefits, #features, #reviews, #footer {
  background-color: #303030;
}

#download-button {
  border-radius: 5px;
}

h2 {
  text-align: center;
}

h4, hr{
  color: rgb(255,255,102);
}

.alignright {
text-align: right;
}

#photo1 {
  max-height: 75%;
}

#download {
  background-color: yellow;
  text-align: center;
}

.trait {
 margin-top: 150px;
 border-top: solid 1px yellow;
}

#download p {
  color: black;
}

.logos {
text-align: right;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}


.header {
  height: 150px;
}
.sticky-nav {
  position: fixed;
  top: 0;
}

/* .row {
  margin-bottom: -35px;
} */

.resetrow {
  margin-bottom: 0 !important;
}


@media screen and (max-width: 640px) {

  .padding {
    padding-top: 150px;
  }

  .margin-top {
    margin-top: 50px;
  }

  .margin-button {
    margin-top: 50px;
  }

  .margin-bot {
    margin-bottom: 50px;
  }

}

@media (min-width: 992px) {

  #first {
    margin-top: 100px;
  }

  .second {
    padding-top: 50px;
  }

  .margin {
    margin-top: 150px;
  }

  .margin-bottom {
    margin-bottom: 100px;
  }


}